<section class="container-fluid py-2 bg-blue">
  <div class="row d-flex" style="background-color: focus;">
    <div class="col-md-2 col-12 px-0">
      <div class="card rounded-0">
        <div class="row py-2 mx-0 d-flex align-items-center bg-azul">
          <div class="col-4 text-center border-end border-white">
            <img src="/assets/images/recursos/panel.png" class="img-fluid" alt="">
          </div>
          <div class="col-8 text-start text-white">
            <p class="fw-bold titulo my-0 lh-sm">Leonel Hilari Almiron</p>
          </div>
          <div class="col-12 mt-2 text-center">
            <p class="texto text-white lh-1 mb-0">Lorem ipsum dolor sit amet.</p>
          </div>
        </div>
        <div class="card rounded-0 py-1">
          <img
            src="https://images.unsplash.com/photo-1561154464-82e9adf32764?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60"
            class="card-img-top rounded-0" alt="...">
          <div class="card-body rounded-0 row mx-0 py-2 px-0">
            <div class="col-6 text-center px-1">
              <nav class="nav flex-column menu-admin">
                <a class="nav-link" href="#"><i class="bi bi-grid-1x2 me-1"></i>Menu</a>
                <a class="nav-link" href="#"><i class="bi bi-people-fill me-1"></i>Bancos</a>
              </nav>
            </div>
            <div class="col-6 text-center">
              <nav class="nav flex-column menu-admin">
                <a class="nav-link" href="#"><i class="bi bi-grid-1x2 me-1"></i>Menu</a>
                <a class="nav-link" href="#"><i class="bi bi-people-fill me-1"></i>Bancos</a>
              </nav>
            </div>
            <p class="card-text texto fw-bold lh-sm txt-azul my-0">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-7 col-12 px-1">
      <div class="container py-0">
        <div class="bg-white row d-flex align-items-center mb-0 px-2 py-2">
          <div class="col-md-4 col-12 order-md-0 order-1">
            <div class="input-group buscador">
              <span class="input-group-text" id="basic-addon1"><i class="bi bi-search"></i></span>
              <input type="text" class="form-control" placeholder="buscar" aria-describedby="basic-addon1">
            </div>
          </div>
          <div class="col-md-4 col-12 order-md-1 order-2 d-none d-md-block border-end border-start border-3 border-black px-0">
            <div class="container px-1 text-center">
              <p class="my-0 texto lh-sm"><i class="bi bi-geo-alt-fill me-2 fs-5"></i> <small >Lorem ipsum, dolor consectetur asdas.</small></p>
            </div>
          </div>
          <div class="col-md-4 col-12 order-md-2 order-0 d-flex justify-content-between accion">
            <a class="d-flex align-items-center" type="button" data-bs-toggle="modal" data-bs-target="#Modal-1"><i class="bi bi-plus-square-fill fs-5"></i><small class="ms-2">Agregar BC</small></a>
            <hr class="vertical">
            <a class="d-flex align-items-center" href=""><i class="bi bi-box-arrow-right fs-2"></i><small class="ms-2">Salir</small></a>
          </div>
        </div>
        <div class="row d-flex align-items-stretch mb-0 mt-1">
          <div id="carouselExample" class="carousel slide px-0">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="row mx-0">
                  <div class="col-md-10 col-12 px-0">
                    <div class="card tarjeta">
                      <h5 class="card-title text-center mb-0 fw-bold titulo txt-rojo">NOMBRE DEL BANCO</h5>
                      <img src="/assets/images/bancos/Bancos-Jeny.jpg" class="img-fluid mb-2" alt="">
                      <div class="card-body">
                        <p class="card-text fw-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio deleniti pariatur magnam voluptate ex eaque iure molestiae amet maxime repellat.</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-2 d-none d-md-block px-0 mx-0">
                    <div class="text-center centrado-vertical">
                      <div class="container px-2">
                        <a class="d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#Modal-2"><i class="bi bi-pencil-square fs-4 mb-0"></i><small class="ms-2 text-center">Editar Banco</small></a>
                        <a class="d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#Modal-3"><i class="bi bi-trash3 fs-4 mb-0"></i><small class="ms-2">Eliminar BC</small></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row mx-0">
                  <div class="col-md-10 col-12 px-0">
                    <div class="card tarjeta">
                      <h5 class="card-title text-center mb-0 fw-bold titulo txt-rojo">NOMBRE DEL BANCO</h5>
                      <img src="/assets/images/bancos/Bancos-Jeny.jpg" class="img-fluid mb-2" alt="">
                      <div class="card-body">
                        <p class="card-text fw-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio deleniti pariatur magnam voluptate ex eaque iure molestiae amet maxime repellat.</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-2 d-none d-md-block px-0 mx-0">
                    <div class="text-center centrado-vertical">
                      <div class="container px-2">
                        <a class="d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#Modal-2"><i class="bi bi-pencil-square fs-4 mb-0"></i><small class="ms-2 text-center">Editar Banco</small></a>
                        <a class="d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#Modal-3"><i class="bi bi-trash3 fs-4 mb-0"></i><small class="ms-2">Eliminar BC</small></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row mx-0">
                  <div class="col-md-10 col-12 px-0">
                    <div class="card tarjeta">
                      <h5 class="card-title text-center mb-0 fw-bold titulo txt-rojo">NOMBRE DEL BANCO</h5>
                      <img src="/assets/images/bancos/Bancos-Jeny.jpg" class="img-fluid mb-2" alt="">
                      <div class="card-body">
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio deleniti pariatur magnam voluptate ex eaque iure molestiae amet maxime repellat.</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-2 d-none d-md-block px-0 mx-0">
                    <div class="text-center centrado-vertical">
                      <div class="container px-2">
                        <a class="d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#Modal-2"><i class="bi bi-pencil-square fs-4 mb-0"></i><small class="ms-2 text-center">Editar Banco</small></a>
                        <a class="d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#Modal-3"><i class="bi bi-trash3 fs-4 mb-0"></i><small class="ms-2">Eliminar BC</small></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" style="margin-top: 43%;" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" style="margin-top: 43%;" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
          <!-- <div class="col-10 px-0">
            <div class="card tarjeta">
              <h5 class="card-title text-center mb-0 fw-bold titulo txt-rojo">NOMBRE DEL BANCO</h5>
              <img src="/assets/images/bancos/Bancos-Jeny.jpg" class="img-fluid mb-2" alt="">
              <div class="card-body">
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio deleniti pariatur magnam voluptate ex eaque iure molestiae amet maxime repellat.</p>
              </div>
            </div>
          </div>
          <div class="col-2 px-1 bg-danger">
            <div class="text-center centrado-vertical">
              <div class="container px-0">
                <a class="d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#Modal-2"><i class="bi bi-pencil-square fs-4 mb-0"></i><small class="ms-2 text-center">Editar Banco</small></a>
                <a class="d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#Modal-3"><i class="bi bi-trash3 fs-4 mb-0"></i><small class="ms-2">Eliminar BC</small></a>
              </div>
            </div>
          </div> -->
          <!-- <hr class="mt-2 text-white mb-2"> -->
        </div>
      </div>
    </div>
    <div class="col-md-3 col-12 px-0">
      <div class="bg-white px-3 py-2">
        <ul class="nav justify-content-center list py-1">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#"><h5>Active</h5></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><h5>Link</h5></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><h5>Link</h5></a>
          </li>
        </ul>
      </div>
      <div class="card tarjeta mt-1 px-2">
        <h5 class="card-title text-center fw-bold titulo txt-rojo py-3">NOMBRE DEL BANCO</h5>
        <div class="card mb-3 rounded-0">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="..." class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title mb-0">Card title</h5>
                <p class="card-text lh-1"><small class="">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</small></p>
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-3 rounded-0">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="..." class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title mb-0">Card title</h5>
                <p class="card-text lh-1"><small class="">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</small></p>
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-3 rounded-0">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="..." class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title mb-0">Card title</h5>
                <p class="card-text lh-1"><small class="">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</small></p>
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-3 rounded-0">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="..." class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title mb-0">Card title</h5>
                <p class="card-text lh-1"><small class="">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</small></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 bg-white py-5">
      <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis officia est obcaecati. Nemo molestiae fugit amet. Nesciunt magnam sint eum fugit perferendis facilis omnis labore.</p>
    </div>
  </div>
  <div class="container">
    <div class="modal fade" id="Modal-1" tabindex="-1" aria-labelledby="Modal-1" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-1">
        <div class="modal-content rounded-0">
          <div class="row d-flex align-items-center">
            <div class="col-10 text-end">
              <h1 class="modal-title fs-5 mb-1" id="Modal-1">Agregar nuevo Banco Comunal</h1>
            </div>
            <div class="col-2 text-end pe-3">
              <a class="text-white" data-bs-dismiss="modal" type="button" ><i class="bi bi-x-circle fs-4"></i></a>
            </div>
          </div>
          <div class="modal-body py-1 px-1">
            <div class="row mx-0 d-flex align-items-center">
              <div class="col-6">
                <div class="form-floating mb-3">
                  <input type="name_bc" class="form-control formulario" id="name_bc" placeholder="name@example.com">
                  <label for="name_bc" class="etiqueta">Nombre del Banco Comunal</label>
                </div>
              </div>
              <div class="col-6">
                <div class="form-floating mb-3">
                  <input type="name" class="form-control formulario" placeholder="name@example.com">
                  <label for="asesor" class="etiqueta">Asesores</label>
                </div>
              </div>
              <div class="col-8">
                <div class="mb-3">
                  <label for="portada_bc" class="form-label mb-1">Foto de el Banco Comunal</label>
                  <input class="form-control form-control-sm mnt-1" id="portada_bc" type="file">
                </div>
              </div>
              <div class="col-4">
                <div class="form-check form-switch">
                  <input class="form-check-input" type="checkbox" role="switch">
                  <label class="form-check-label" for="flexSwitchCheckDefault">Habilitado</label>
                </div>
              </div>
              <div class="col-12">
                <div class="form-floating">
                  <textarea class="form-control rounded-0" placeholder="Leave a comment here" style="height: 80px"></textarea>
                  <label class="etiqueta">Comments</label>
                </div>
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-center px-0 text-center pb-2 mt-0">
            <button type="button" class="btn btn-outline-light rounded-0 me-1">Registrar</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="Modal-2" tabindex="-1" aria-labelledby="Modal-2" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-1">
        <div class="modal-content rounded-0">
          <div class="row d-flex align-items-center">
            <div class="col-10 text-center">
              <h1 class="modal-title fs-5 mb-1" id="Modal-2">Editar Banco Comunal</h1>
            </div>
            <div class="col-2 text-end pe-3">
              <a class="text-white" data-bs-dismiss="modal" type="button" ><i class="bi bi-x-circle fs-4"></i></a>
            </div>
          </div>
          <div class="modal-body py-1 px-1">
            <div class="row mx-0 d-flex align-items-center">
              <div class="col-6">
                <div class="form-floating mb-3">
                  <input type="email" class="form-control formulario" id="bc" placeholder="name@example.com">
                  <label for="bc" class="etiqueta">Nombre del Banco Comunal</label>
                </div>
              </div>
              <div class="col-6">
                <div class="form-floating mb-3">
                  <input type="email" class="form-control formulario" id="floatingInput" placeholder="name@example.com">
                  <label for="floatingInput" class="etiqueta">Asesores</label>
                </div>
              </div>
              <div class="col-8">
                <div class="mb-3">
                  <label for="formFileSm" class="form-label mb-1">Foto de el Banco Comunal</label>
                  <input class="form-control form-control-sm mnt-1" id="formFileSm" type="file">
                </div>
              </div>
              <div class="col-4">
                <div class="form-check form-switch">
                  <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                  <label class="form-check-label" for="flexSwitchCheckDefault">Habilitado</label>
                </div>
              </div>
              <div class="col-12">
                <div class="form-floating">
                  <textarea class="form-control rounded-0" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 80px"></textarea>
                  <label class="etiqueta" for="floatingTextarea2">Comments</label>
                </div>
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-center px-0 text-center pb-2 mt-0">
            <button type="button" class="btn btn-outline-light rounded-0 me-1">Registrar</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="Modal-3" tabindex="-1" aria-labelledby="Modal-3" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-1">
        <div class="modal-content rounded-0">
          <div class="row d-flex align-items-center">
            <div class="col-10 text-center">
              <h1 class="modal-title fs-5 mb-1" id="Modal-3">Eliminar Banco Comunal</h1>
            </div>
            <div class="col-2 text-end pe-3">
              <a class="text-white" data-bs-dismiss="modal" type="button" ><i class="bi bi-x-circle fs-4"></i></a>
            </div>
          </div>
          <div class="modal-body py-1 px-1">
            <div class="row mx-0 d-flex align-items-center">
              <div class="col-6 border-end">
                <p class="fs-5 fw-bold mb-0">Nombre del Banco Comunal</p>
              </div>
              <div class="col-6 border-start">
                <p class="fw-bold mb-0 lh-1">Nombre completo del Asesor del banco comunal</p>
              </div>
              <div class="col-12 mt-2 mb-0">
                <figure class="figure">
                  <img src="/assets/images/bancos/Bancos-Jeny.jpg" class="figure-img img-fluid" alt="...">
                </figure>
              </div>
              <div class="col-12 mt-0">
                <div class="container text-justify">
                  <p class="texto fw-bold lh-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit quis officiis facilis inventore alias minima hic doloribus voluptatibus at optio?</p>
                </div>
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-center px-0 text-center pb-2 mt-0">
            <button type="button" class="btn btn-outline-light rounded-0 me-1">Eliminar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
