<app-header></app-header>
<article class="container-fluid pt-2">
  <div class="row mx-0">
    <div class="col-12 text-center my-2">
      <div class="container">
        <!-- <div class="text-center mb-0 px-md-5 px-1 col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-12">
          <h1 class="titulo text-center txt-rojo">EQUIPO ARARIWA</h1>
          <p class="lh-sm texto fw-bold txt-azul text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, fuga pariatur ex eos dolores illo repudiandae nisi voluptas magni corrupti quibusdam, eaque, adipisci odit incidunt.</p>
          <img src="/assets/images/general/ico.png" class="text-center" alt="">
        </div> -->
        <!-- <div class="row mx-0 mt-2 d-flex align-items-center">
          <div class="col-md-5 col-12 text-md-start text-center px-0">
            <h1 class="titulo txt-rojo">DIRECTORIO ARARIWA</h1>
          </div>
          <div class="col-md-7 col-12 text-start border-start border-primary-subtle border-3">
            <p class="my-0 texto lh-1 txt-azul fw-bold">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem fugit repellendus distinctio placeat nesciunt laborum beatae fugiat maxime quisquam quo?</p>
          </div>
        </div> -->
        <!-- <div class="row row-cols-1 row-cols-md-3 mt-2 g-4">
          <div class="col-md-4 col-12">
            <div class="card card-p">
              <img src="/assets/images/recursos/perfil.png" class="card-img-top img-fluid" alt="...">
              <div class="card-body">
                <h5 class="card-title mb-0">Card title</h5>
                <p class="text-center my-0"><small>Lorem, ipsum dolor.</small></p>
                <a class="txt-azul" href=""><i class="bi bi-linkedin fs-2"></i></a>
                <p class="card-text mt-1">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-12">
            <div class="card card-p">
              <img src="/assets/images/recursos/perfil.png" class="card-img-top img-fluid" alt="...">
              <div class="card-body">
                <h5 class="card-title mb-0">Card title</h5>
                <p class="text-center my-0"><small>Lorem, ipsum dolor.</small></p>
                <a class="txt-azul" href=""><i class="bi bi-linkedin fs-2"></i></a>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-12">
            <div class="card card-p">
              <img src="/assets/images/recursos/perfil.png" class="card-img-top img-fluid" alt="...">
              <div class="card-body mb-0">
                <h5 class="card-title mb-0">Card title</h5>
                <p class="text-center my-0"><small>Lorem, ipsum dolor.</small></p>
                <a class="txt-azul" href=""><i class="bi bi-linkedin fs-2"></i></a>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              </div>
            </div>
          </div>
        </div> -->
        <!-- <div class="row mx-0 mt-5 d-flex align-items-center">
          <div class="col-md-5 col-12 text-md-start text-center px-0">
            <h1 class="titulo txt-rojo">EQUIPO ARARIWA</h1>
          </div>
          <div class="col-md-7 col-12 text-start border-start border-primary-subtle border-3">
            <p class="my-0 texto lh-1 txt-azul fw-bold">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem fugit repellendus distinctio placeat nesciunt laborum beatae fugiat maxime quisquam quo?</p>
          </div>
        </div> -->
        <!-- <div class="card-group mt-5">
          <div class="card card-p bg-metal">
            <img src="../../assets/galery/directivo.png" class="card-img-top p-md-2 p-1" alt="...">
            <div class="card-body bg-white">
              <h5 class="card-title mb-0">Card title</h5>
              <p class="text-center my-0"><small>Lorem, ipsum dolor.</small></p>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
          <div class="card card-p bg-metal">
            <img src="../../assets/galery/directivo.png" class="card-img-top p-md-2 p-1" alt="...">
            <div class="card-body bg-white">
              <h5 class="card-title mb-0">Card title</h5>
              <p class="text-center my-0"><small>Lorem, ipsum dolor.</small></p>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
          <div class="card card-p bg-metal">
            <img src="../../assets/galery/directivo.png" class="card-img-top p-md-2 p-1" alt="...">
            <div class="card-body bg-white">
              <h5 class="card-title mb-0">Card title</h5>
              <p class="text-center my-0"><small>Lorem, ipsum dolor.</small></p>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
          <div class="card card-p bg-metal">
            <img src="../../assets/galery/directivo.png" class="card-img-top p-md-2 p-1" alt="...">
            <div class="card-body bg-white">
              <h5 class="card-title mb-0">Card title</h5>
              <p class="text-center my-0"><small>Lorem, ipsum dolor.</small></p>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div> -->
      </div>
    </div>
    <div class="col-12">
      <div class="container py-2 px-lg-5 px-0 text-center mt-3">
        <h1 class="titulo txt-rojo">MICROFINANZAS ARARIWA</h1>
        <img src="/assets/images/general/ico.png" class="text-center" alt="">
        <div class="row mt-2 d-flex align-items-center">
          <div class="col-lg-5 col-12 border-end">
            <p class="text-justify lh-sm fw-bold txt-azul texto">Iniciamos actividades como Unidad de Crédito en
              octubre de 1994, como parte de un Proyecto Nacional de
              desarrollo de la Metodología de Bancos Comunales en el marco del Consorcio “Promoción de la Mujer y la
              Comunidad” (PROMUC), del cual Microfinanzas Arariwa es miembro fundador y asociado. A partir del año 2002
              se constituye como Unidad de Microfinanzas. Prioriza el desarrollo de la Metodología de Bancos Comunales, en
              los ámbitos rurales y urbanos del Macro Sur. Microfinanzas Arariwa ubica su desempeño en el marco de las Metas
              de Desarrollo del Milenio en lo concerniente a la “erradicación de la pobreza y el hambre”, así como en la
              Campaña de la Cumbre del Micro Crédito cuyas metas son:</p>
          </div>
          <div class="col-lg-7 col-12 border-start align-self-stretch">
            <div class="carousel" data-flickity='{ "freeScroll": true, "autoPlay": true, "wrapAround":true }'>
              <img src="/assets/images/galery/galeria-1.jpg" class="img-fluid carousel-cell" alt="">
              <img src="/assets/images/galery/galeria-2.jpg" class="img-fluid carousel-cell" alt="">
              <img src="/assets/images/galery/foto-1.jpg" class="img-fluid carousel-cell" alt="">
              <img src="/assets/images/galery/foto-2.jpg" class="img-fluid carousel-cell" alt="">
            </div>
          </div>
          <!-- <div class="col-12">
            <div class="container">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur in fuga nesciunt repudiandae id dolorum.</p>
            </div>
          </div> -->
        </div>
      </div>
    </div>
    <div class="col-12 mt-5 mt-lg-0 marca-de-agua">
      <div class="container-fluid px-lg-4 px-0">
        <h2 class="text-start txt-azul titulo">
          <p class="flecha"></p><strong class="ms-5 d-none d-lg-block">PROMESA ARARIWA</strong><small
            class="ms-5 d-block d-lg-none" style="font-size: 20px !important;">PROMESA ARARIWA</small>
        </h2>
      </div>
      <div class="col-12 col-lg-10 offset-lg-1 col-xl-8 offset-xl-2">
        <div class="card-1 container row mx-0">
          <div class="valores col-lg-4 col-md-6 col-12">
            <div class="face face1">
              <div class="content">
                <img src="/assets/images/recursos/vision.png" class="img-fluid">
                <h3 class="titulo">Misión</h3>
              </div>
            </div>
            <div class="face face2">
              <div class="content text-justify">
                <p>Contribuir a la mejora de las condiciones de vida, principalmente de mujeres de menores recursos y
                  sus
                  familias, facilitando un acceso permanente a servicios financieros con educación.</p>
              </div>
            </div>
          </div>
          <div class="valores col-lg-4 col-md-6 col-12">
            <div class="face face1">
              <div class="content">
                <img src="/assets/images/recursos/mision.png">
                <h3 class="titulo">Vision</h3>
              </div>
            </div>
            <div class="face face2">
              <div class="content">
                <p>Nuestra visión es transformar vidas y promover la equidad financiera en las zonas rurales, siendo
                  reconocidos por nuestro compromiso con la excelencia, la transparencia y el impacto positivo en las
                  comunidades que servimos.</p>
              </div>
            </div>
          </div>
          <div class="valores col-lg-4 col-md-6 col-12">
            <div class="face face1">
              <div class="content">
                <img src="./assets/images/recursos/valor.png">
                <h3 class="titulo">Valor</h3>
              </div>
            </div>
            <div class="face face2">
              <div class="content">
                <p>Nuestro valor fundamental es brindar un acceso inclusivo a servicios financieros a las personas de
                  escasos recursos que residen en las zonas más pobres del país.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>
<section class="container-fluid">
  <div class="row d-flex align-items-center mb-4 px-lg-5 px-1 mx-0">
    <div class="col-lg-5 col-12">
      <h2 class="text-start txt-azul titulo">
        <p class="flecha"></p><strong class="ms-5">SISTEMA ARARIWA</strong>
      </h2>
      <div class="container ms-lg-4 ms-2">
        <p class="txt-azul texto lh-1 text-justify fw-bold">El sistema Arariwa es un conjunto de unidades autónomas y
          articuladas, cada una de ellas con especificidad y
          perfil propios que tienen espacios, niveles e instrumentos de encuentro y acción conjunta, buscando así
          generar un proceso sinérgico. Cada unidad tiene su estrategia y sus objetivos que actúan como subsistemas y
          que a partir de sus interrelaciones dan forma y contenido al conjunto, las cuales se ordenan en función de una
          visión estratégica común.</p>
        <div class="texto lh-1 fw-bold">
          <p class="txt-rojo text-justify">El sistema es constituido por:</p>
          <ol type="a" class="list-1">
            <li><span>Microfinanzas Arariwa</span></li>
            <li><span>Arariwa Promoción</span></li>
            <li><span>Centro de Formación y Producción Arariwa (CENFOPAR)</span></li>
          </ol>
          <p class="txt-azul">Sistema Arariwa Tiene un enfoque integral ya que aborda varias dimensiones en su
            intervención:</p>
          <ul type="a" class="list-1">
            <li><span>Educación (jóvenes y adultos).</span></li>
            <li><span>Producción agropecuaria con enfoque de seguridad alimentaria.</span></li>
            <li><span>Articulación a mercados y cadenas de valor.</span></li>
            <li><span>Prácticas de conservación de suelos, agua y cubierta vegetal.</span></li>
            <li><span>Formación de líderes campesinos y campesinas.</span></li>
            <li><span>Asesoría a gobiernos locales.</span></li>
            <li><span>Turismo rural comunitario.</span></li>
            <li><span>Servicios financieros desde la Metodología de Bancos Comunales.</span></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-7 col-12 text-center">
      <img src="/assets/images/general/Mapa.jpg" class="img-fluid d-xl-block d-none" alt="">
      <img src="/assets/images/general/prueba.png" class="img-fluid d-xl-none d-md-block d-none" alt="">
      <img src="/assets/images/general/prueba-2.png" class="img-fluid d-md-none d-block" alt="">
    </div>
    <div class="col-lg-8 offset-lg-2 col-xxl-10 offset-xxl-1 col-12 mt-2 text-center divicion mt-lg-5 mt-2">
      <p class="txt-rojo mt-1 lh-1 fw-bold texto"><span class="d-none d-md-block">"HACER DE LA PARCELA UN LUGAR
          PEDAGÓGICO ES UNA PRÁCTICA COTIDIANA, PUES NO ENSEÑAMOS NI TRANSFERIMOS, SINO APRENDEMOS JUNTOS, CAMPESINOS Y
          TÉCNICOS."</span>
        <small class="d-block d-md-none">"HACER DE LA PARCELA UN LUGAR PEDAGÓGICO ES UNA PRÁCTICA COTIDIANA, PUES
          NO ENSEÑAMOS NI TRANSFERIMOS, SINO APRENDEMOS JUNTOS, CAMPESINOS Y TÉCNICOS."</small>
      </p>
    </div>
  </div>
</section>
<app-footer></app-footer>
