<app-header [InicioPage]='true'></app-header>
<section #tarjet class="container-fluid mb-3 mt-5">
  <div class="row mx-0 d-flex align-items-center justify-content-evenly">
    <div class="col-lg-4 col-xxl-3 border-end border-danger">
      <h1 class="text-center fs-1 fw-bold titulo txt-rojo mnb-1">¡HOLA!</h1>
      <h2 class="text-center texto txt-rojo my-1"><strong class="txt-azul">"ARARIWA"</strong> te da la bienvenida;</h2>
      <h3 class="text-center texto txt-rojo mnt-2">Crece con nosotros!</h3>
    </div>
    <div class="col-lg-8 col-xxl-6">
      <h3 class="text-center titulo txt-rojo">Te ayudamos con todo lo que te ofrecemos:</h3>
      <div class="row mt-2">
        <div class="col-md-4 text-center">
          <!-- <div class="weave">woven</div> -->
          <img src="/assets/images/general/Recurso.png" class="img-fluid" alt="">
          <a class="txt-azul" href="">
            <h3 class="txt-azul texto fw-bold">Ahorros</h3>
          </a>
        </div>
        <div class="col-md-4 text-center">
          <img src="/assets/images/general/Recurso-2.png" class="img-fluid" alt="">
          <a class="txt-celeste" href="">
            <h3 class="txt-celeste texto fw-bold">Créditos</h3>
          </a>
        </div>
        <div class="col-md-4 text-center">
          <img src="/assets/images/general/Recurso-3.png" class="img-fluid" alt="">
          <a class="txt-rojo" [routerLink]="['/educacion']">
            <h3 class="txt-rojo texto fw-bold">Educación Financiera</h3>
          </a>
        </div>
      </div>
    </div>
    <div class="col-lg-12 col-xxl-10 mt-5 mb-0">
      <div class="text-center mx-5">
        <h1 class="titulo txt-azul mb-0">NUESTROS PRODUCTOS</h1>
        <h3 class="txt-rojo texto mnt-1">Porque eres la razón de nuestra existencia, tu preocupación es nuestra
          prioridad pensando en ti
          creamos lo siguientes productos!</h3>
        <img src="/assets/images/general/ico.png" class="img-fluid mt-3 mb-0" alt="">
      </div>
      <div class="mnt-md-2 mt-2">
        <div class="row mx-0">
          <div class="col-md-6 text-center">
            <div class="row d-flex align-items-center">
              <div class="col-xl-4 col-md-5 col-12 tex-center px-0">
                <a [routerLink]="['/chanchita']"><img src="/assets/images/general/producto-1.png" class="img-fluid"
                    alt=""></a>
              </div>
              <div class="col-xl-8 col-md-7 col-12 text-md-start text-center">
                <div class="container px-xxl-5 ps-md-2 pe-md-3">
                  <h4 class="titulo fw-bold txt-azul mb-0">BANCOS COMUNALES</h4>
                  <h5 class="texto lh-sm txt-rojo fw-bold">La chanchita es la marca con la que se conoce a nuestro
                    programa de Bancos Comunales. Es una organización de personas cuyo objetivo es crecer y aprender
                    juntos para gestionar sus
                    finanzas de mejor manera.</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 text-center mt-md-1 mt-3">
            <div class="row d-flex align-items-center">
              <div class="col-xl-8 col-md-7 col-12 text-md-end text-center order-md-first order-last mt-2 mt-md-0">
                <div class="container px-xxl-5 ps-md-2 pe-md-3">
                  <h4 class="titulo fw-bold txt-azul mb-0">CRÉDITO INDIVIDUAL</h4>
                  <h5 class="texto lh-sm txt-rojo fw-bold">Te brindamos la oportunidad de acercarte más a tus sueños a
                    través de este producto de fácil acceso y sin complicaciones. Únete a nuestra familia y libérate de
                    tus preocupaciones de
                    capital de trabajo.</h5>
                </div>
              </div>
              <div class="col-xl-4 col-md-5 col-12 tex-center px-0 order-md-last order-first">
                <a [routerLink]="['/credito']"><img src="/assets/images/general/producto-2.png" class="img-fluid"
                    alt=""></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="container-fluid mt-5 px-0">
  <div class="col-12 fondo-1 px-0 px-md-2 px-lg-5">
    <div class="container-fluid px-0 px-md-2 px-lg-5 py-3">
      <div class="row d-flex align-items-center mx-0">
        <div class="col-md-5 col-12">
          <div class="container text-md-start text-center bg-fondo1 py-md-5 py-1 px-md-3 px-2">
            <h3 class="fw-bold text-white titulo">ASOCIACIÓN ARARIWA</h3>
            <h5 class="texto fw-bolder text-white text-justify lh-1">
              Asociación Arariwa Microfinanzas viene apoyando a los que mas lo necesitan emprendedores con ganas de
              triunfar y salir adelante gente luchadora obteniendo buenos resultados y creciendo juntos.
            </h5>
          </div>
        </div>
        <div class="col-md-7 col-12 text-center px-0 px-md-2 mt-4 mt-md-0">
          <img src="/assets/images/general/prueba.jpg" class="img-fluid" alt="">
        </div>
      </div>
    </div>
  </div>
  <div class="col-10 offset-1 my-5">
    <div class="text-center">
      <h2 class="titulo txt-rojo mb-0">PROYECTO ARARIWA</h2>
      <p class="texto txt-azul fw-bold mb-0 mnt-1">Contribuimos al desarrollo económico de la region Cusco</p>
      <img src="/assets/images/general/ico.png" class="img-fluid my-0" alt="">
      <ol class="mt-3">
        <li style="--accent-color:#ED1B23">
          <div class="icon"><i class="fa-brands fa-codepen"></i></div>
          <div class="title texto fw-bold">Integridad</div>
          <div class="descr texto fw-bold lh-sm text-justify">En relación con nuestros compañeros de trabajo, con
            nuestros clientes y la sociedad.</div>
        </li>
        <li style="--accent-color:#F5811E">
          <div class="icon"><i class="fa-brands fa-html5"></i></div>
          <div class="title texto fw-bold">Compromiso</div>
          <div class="descr texto fw-bold lh-sm text-justify">Desempeñándonos con profesionalismo, siendo fiel a la
            institución. Asumiendo compromiso con las familias más pobres.</div>
        </li>
        <li style="--accent-color:#A5CE37">
          <div class="icon"><i class="fa-brands fa-css3"></i></div>
          <div class="title texto fw-bold">Honestidad</div>
          <div class="descr texto fw-bold lh-sm text-justify">La honestidad implica actuar con integridad y sinceridad
            en todo momento, tanto con los clientes como con los demás empleados de la empresa.</div>
        </li>
        <li style="--accent-color:#0593D7">
          <div class="icon"><i class="fa-brands fa-js"></i></div>
          <div class="title texto fw-bold">Confidencialidad</div>
          <div class="descr texto fw-bold lh-sm text-justify">Nuestros clientes confían en nosotros para gestionar sus
            finanzas de manera segura y responsable. La empresa proteja la privacidad de sus datos y
            transacciones.</div>
        </li>
        <li style="--accent-color:#70448A">
          <div class="icon"><i class="fa-brands fa-github"></i></div>
          <div class="title texto fw-bold">Educación</div>
          <div class="descr texto fw-bold lh-sm text-justify">Ayudar a nuestros clientes a
            comprender mejor los productos y servicios ofrecidos por nosotros, así como a manejar mejor sus finanzas
            personales.
          </div>
        </li>
      </ol>
    </div>
  </div>
</section>
<article class="w-100 text-center my-md-5 my-1 marca-de-agua">
  <h2 class="text-center txt-rojo titulo fw-light">NUESTRA GALERÍA</h2>
  <img src="/assets/images/general/ico.png" class="img-fluid mnb-1" alt="">
  <div class="container-fluid mt-2">
    <div class="carrusel"
      data-flickity='{ "lazyLoad": 2, "initialIndex": 3, "autoPlay": 2000, "imagesLoaded": true, "wrapAround": true}'>
      <div class="carrusel-cell">
        <img class="carrusel-cell-image" data-flickity-lazyload="/assets/images/galery/galeria-1.jpg" alt="gal-1" />
      </div>
      <div class="carrusel-cell">
        <img class="carrusel-cell-image" data-flickity-lazyload="/assets/images/galery/galeria-3.jpg" alt="gal-2" />
      </div>
      <div class="carrusel-cell">
        <img class="carrusel-cell-image" data-flickity-lazyload="/assets/images/galery/galeria-4.jpg" alt="gal-3" />
      </div>
      <div class="carrusel-cell">
        <img class="carrusel-cell-image" data-flickity-lazyload="/assets/images/galery/galeria-8.jpg" alt="gal-4" />
      </div>
      <div class="carrusel-cell">
        <img class="carrusel-cell-image" data-flickity-lazyload="/assets/images/galery/galeria-12.jpg" alt="gal-5" />
      </div>
      <div class="carrusel-cell">
        <img class="carrusel-cell-image" data-flickity-lazyload="/assets/images/galery/galeria-9.jpg" alt="gal-6" />
      </div>
      <div class="carrusel-cell">
        <img class="carrusel-cell-image" data-flickity-lazyload="/assets/images/galery/galeria-2.jpg" alt="gal-7" />
      </div>
      <div class="carrusel-cell">
        <img class="carrusel-cell-image" data-flickity-lazyload="/assets/images/galery/galeria-5.jpg" alt="gal-8" />
      </div>
      <div class="carrusel-cell">
        <img class="carrusel-cell-image" data-flickity-lazyload="/assets/images/galery/galeria-6.jpg" alt="gal-9" />
      </div>
    </div>
    <div class="row mx-0" style="margin-top: 3%;">
      <div class="col-md-6 offset-md-3 col-12 px-0 text-center">
        <h1 class="txt-rojo titulo">Nuestros Bancos</h1>
      </div>
      <!-- ejemplo de uso de modal -->
      <div class="col-md-6 col-12 text-center">
        <figure class="figure">
          <img src="/assets/images/bancos/Bancos-Jeny.jpg" class="figure-img img-fluid rounded" alt="..."  height="450px" width="100%">
          <figcaption class="figure-caption text-end texto txt-rojo">Banco Comunal <a role="button" type="button"
              class="txt-azul" href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">Arcángel Gabriel</a>
          </figcaption>
        </figure>
      </div>
      <div class="col-md-6 col-12 text-center">
        <figure class="figure">
          <img src="/assets/images/bancos/Bancos-Jeny.jpg" class="figure-img img-fluid rounded" alt="..." height="450px" width="100%">
          <figcaption class="figure-caption text-end texto txt-rojo">Banco Comunal <a role="button" type="button"
              class="txt-azul" href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">Arcángel Gabriel</a>
          </figcaption>
        </figure>
      </div>
      <!-- final del modal -->
    </div>
    <div class="container-fluid">
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <h3 class="modal-title fs-5 titulo txt-rojo" id="exampleModalLabel">BANCO COMUNAL ARCÁNGEL GABRIEL</h3>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body flotante">
              <div class="container-fluid">
                <div class="row d-flex align-items-center">
                  <div class="col-md-8 col-12 text-center txt-azul">
                    <h5 class="fw-bold titulo">Lorem ipsum dolor sit amet.</h5>
                    <p class="text-start lh-sm text-justify my"><small>Lorem ipsum dolor sit amet consectetur adipisicing
                        elit. Minus obcaecati, commodi cum recusandae aspernatur vitae laborum quam accusamus nihil sunt.</small></p>
                  </div>
                  <div class="col-md-4 col-12">
                    <img src="/assets/images/general/aliado-7.png" class="img-fluid" alt="">
                  </div>
                </div>
                <div class="col-12 text-end mt-3">
                  <button type="button" class="btn btn-modal btn-sm">Small button</button>
                </div>
              </div>
            </div>
            <!-- <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container mt-md-5 mt-0">
    <div class="row mx-0">
      <div class="col-xl-10 offset-xl-1 col-12">
        <div class="row d-flex align-items-center mx-0">
          <div class="col-md-6 text-center px-0 order-md-first order-last">
            <div class="carousel-about" data-flickity='{"autoPlay": true}'>
              <img src="/assets/images/general/arariwa-1.jpg" class="img-fluid carousel-cell" alt="">
              <img src="/assets/images/general/arariwa-2.jpg" class="img-fluid carousel-cell" alt="">
              <img src="/assets/images/general/arariwa.jpg" class="img-fluid carousel-cell" alt="">
            </div>
            <!-- <img src="../../assets/image/arariwa.jpg" class="img-fluid" alt=""> -->
          </div>
          <div class="col-md-6 mt-3 mt-md-0 order-md-last order-first">
            <div class="cotainer px-md-4 px-0 text-center">
              <h4 class="fw-bold text-center titulo txt-rojo mb-0">SIEMPRE PENDIENTES DE TI</h4>
              <img src="/assets/images/general/ico.png" class="img-fluid my-1" alt="">
              <p class="texto fw-bolder lh-sm txt-azul text-justify">En Microfinanzas Arariwa entendemos tus necesidades
                y nos preocupa tu bienestar, ayudamos a liberarte de tus preocupaciones creemos en el trabajo en equipo
                y las
                finanzas solidarias como herramienta de progreso practicando ética económica y social en nuestros
                servicios, así
                como también los principios y valores.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>
<section class="container-fluid px-0">
  <div class="text-center col-12 container px-0" style="margin-top: 7%;">
    <h3 class="titulo txt-rojo">ALIADOS ESTRATÉGICOS</h3>
    <img src="/assets/images/general/ico.png" class="img-fluid mb-0" alt="">
    <div class="slider my-4">
      <div class="slide-track">
        <div class="slide">
          <img src="/assets/images/general/aliado-1.png" height="100" width="250" alt="" />
        </div>
        <div class="slide">
          <img src="/assets/images/general/aliado-2.png" height="100" width="250" alt="" />
        </div>
        <div class="slide">
          <img src="/assets/images/general/aliado-3.png" height="100" width="250" alt="" />
        </div>
        <div class="slide">
          <img src="/assets/images/general/aliado-4.png" height="100" width="250" alt="" />
        </div>
        <div class="slide">
          <img src="/assets/images/general/aliado-5.png" height="100" width="250" alt="" />
        </div>
        <div class="slide">
          <img src="/assets/images/general/aliado-6.png" height="100" width="250" alt="" />
        </div>
        <div class="slide">
          <img src="/assets/images/general/aliado-7.png" height="100" width="250" alt="" />
        </div>
        <div class="slide">
          <img src="/assets/images/general/aliado-1.png" height="100" width="250" alt="" />
        </div>
        <div class="slide">
          <img src="/assets/images/general/aliado-2.png" height="100" width="250" alt="" />
        </div>
        <div class="slide">
          <img src="/assets/images/general/aliado-3.png" height="100" width="250" alt="" />
        </div>
        <div class="slide">
          <img src="/assets/images/general/aliado-4.png" height="100" width="250" alt="" />
        </div>
        <div class="slide">
          <img src="/assets/images/general/aliado-5.png" height="100" width="250" alt="" />
        </div>
        <div class="slide">
          <img src="/assets/images/general/aliado-6.png" height="100" width="250" alt="" />
        </div>
        <div class="slide">
          <img src="/assets/images/general/aliado-7.png" height="100" width="250" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
