<section class="container-fluid py-4">
  <div class="row mx-lg-5 mx-1 d-flex align-items-center">
    <div class="col-12 col-xl-6 offset-xl-3 col-xxl-4 offset-xxl-4 mb-4">
      <div class="container text-center">
        <h1 class="titulo txt-rojo mb-lg-4 mb-2 d-none d-md-block">CRÉDITO INDIVIDUAL</h1>
        <h5 class="titulo txt-rojo mb-lg-4 mb-2 d-md-none d-block">CRÉDITO INDIVIDUAL</h5>
      </div>
      <div class="row d-flex align-items-center">
        <div class="col-4 text-center">
          <img src="../assets/images/recursos/individual.png" class="img-fluid" alt="">
        </div>
        <div class="col-4">
          <div class="container text-center">
            <h3 class="titulo txt-azul mnb-2 d-none d-md-block">ES</h3>
            <h5 class="titulo txt-azul mnb-1 d-md-none d-block">ES</h5>
            <div class="arrow-1"></div>
          </div>
        </div>
        <div class="col-4 text-center">
          <img src="../assets/images/recursos/prestamo.png" class="img-fluid" alt="">
          <h5 class="txt-azul titulo">Préstamo</h5>
        </div>
      </div>
    </div>
    <div class="col-lg-5 col-12">
      <h2 class="text-start txt-azul titulo">
        <p class="flecha"></p><strong class="ms-lg-5 ms-1 d-none d-md-block">CRÉDITO DIRECTO</strong><small class="ms-5 d-md-none d-block">CRÉDITO DIRECTO</small>
      </h2>
      <div class="container ms-lg-5 ms-0 border-ci">
        <p class="txt-azul texto lh-sm text-justify fw-bold">El otorgamiento de credito a la micro y pequeña empresa,
          como mecanismo de financiamiento de actividades comerciales, productivas y de servicios debe servir como
          instrumento de coadyuve al desarrollo economico y considere procedimientos que tengan en cuenta al contexto
          economico social a nivel regional y macroeconomico como son los objetivos institucionales.</p>
        <p class="txt-azul texto lh-sm text-justify fw-bold">El proceso de otorgamiento considera la evaluacion a la
          unidad familiar y/o empresarial, considerando la capacidad y voluntad de pago como un proceso unico, que
          permita un tratamiento adecuado, tanto en los procedimientos de colocacion , seguimiento y recuperacion de
          creditos</p>
        <p class="txt-azul texto lh-sm text-justify fw-bold">El credito individual es aplicable a personas naturales y
          juridicas que realizan actividades calificadas de pequeña y microempresa en los sectores productivo, comercio
          y servicios.</p>
      </div>
    </div>
    <div class="col-lg-7 col-12 text-center px-lg-5 px-0">
      <img src="../assets/images/galery/ci-1.jpg" class="img-fluid" alt="">
    </div>
    <div class="col-12 mt-lg-5 mt-2">
      <div class="container text-center">
        <h4 class="titulo txt-rojo">REQUISITOS MÍNIMOS DE CRÉDITO</h4>
        <div class="d-flex justify-content-evenly listas row">
          <div class="py-lg-1 py-0 col-lg-4 col-12">
            <ul class="text-start">
              <li><span>DNI Solicitante y cónyuge.</span></li>
              <li><span>Licencia de Funcionamiento y/o RUC</span></li>
            </ul>
          </div>
          <div class="py-lg-1 py-0 col-lg-4 col-12">
            <ul class="text-start">
              <li><span>Título de propiedad</span></li>
              <li><span>Certificado de posición y/o uso de
                  Tierras</span></li>
            </ul>
          </div>
          <div class="py-lg-1 py-0 col-lg-4 col-12">
            <ul class="text-start">
              <li><span>Declaración Jurada</span></li>
              <li><span>Recibos de Luz, Agua y/o Teléfono</span></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
