<section class="container-fluid my-5">
  <div class="row mx-lg-5 mx-0 d-flex align-items-center">
    <div class="col-12 col-xl-6 offset-xl-3 col-xxl-4 offset-xxl-4 mb-4">
      <div class="container text-center">
        <h1 class="titulo txt-rojo mb-4">¿QUE ES LA CHANCHITA?</h1>
      </div>
      <div class="row d-flex align-items-center">
        <div class="col-4 text-center">
          <img src="../assets/images/recursos/chanchita.png" class="img-fluid" alt="">
        </div>
        <div class="col-4">
          <div class="container text-center">
            <h3 class="titulo txt-azul mnb-2 d-none d-md-block">ES</h3>
            <h5 class="titulo txt-azul mnb-1 d-md-none d-block">ES</h5>
            <div class="arrow-1"></div>
          </div>
        </div>
        <div class="col-4 text-center">
          <img src="../assets/images/recursos/banco.png" class="img-fluid" alt="">
          <h5 class="txt-azul titulo d-none d-md-block">Bancos Comunales</h5>
          <p class="txt-azul titulo d-md-none d-block lh-1">Bancos Comunales</p>
        </div>
      </div>
    </div>
    <div class="col-lg-5 col-12">
      <h2 class="text-start txt-azul titulo">
        <p class="flecha"></p><strong class="ms-md-5 ms-1 d-none d-md-block">BANCOS COMUNALES</strong><small
          class="ms-4 d-md-none d-block">BANCOS COMUNALES</small>
      </h2>
      <div class="container ms-lg-5 ms-0 border-bc">
        <p class="txt-azul texto lh-sm text-justify fw-bold">Un Banco Comunal es un grupo de apoyo mutuo, compuesto por
          un mínimo de 10 mujeres preferentemente que viven
          en condiciones de pobreza. La metodología empleada tiene por objetivo el facilitar a sus miembros los recursos
          básicos para asegurar la subsistencia familiar, a través componentes básicos: Crédito, Ahorro y Organización.
        </p>
        <p class="txt-azul texto lh-sm text-justify fw-bold">Cuenta con su Reglamento Interno que norma su
          funcionamiento. Se organiza para existir en el largo plazo. Un banco comunal se reúne solo una vez al mes en
          forma obligatoria.</p>
        <p class="txt-azul texto lh-sm text-justify fw-bold">Específicamente las características de género, actividad
          empresarial y el ámbito económico requieren la implementación de una metodología que garantice la buena
          administración del riesgo, eficiencia en los procesos operativos y un valor agregado para el cliente.</p>
      </div>
    </div>
    <div class="col-lg-7 col-12 text-center px-lg-5 px-0">
      <img src="../assets/images/galery/bc-1.jpg" class="img-fluid mt-4" alt="">
    </div>
    <article class="container-fluid py-5 px-0 row mx-0">
      <div class="col-md-10 co-12 row d-flex justify-content-center">
        <div class="col-sm-5 mb-3 mb-sm-0 px-1 mb-2">
          <div class="card lista">
            <div class="card-body">
              <h5 class="card-title">MICRO CRÉDITO</h5>
              <ul>
                <li class="lh-1 texto">
                  <p class="mb-0 fw-bold txt-rojo">Credi Cadmpaña</p>
                  <small class="lh-1 txt-azul fw-bold text-justify">
                    Te permitirá contar con efectivo para que inviertas en tu negocio por campaña escolar, fiestas de tu
                    ciudad, fiestas patrias, navidad y otros.
                  </small>
                </li>
                <li class="lh-1 mt-2 texto">
                  <p class="mb-0 fw-bold txt-rojo">Credi Chanchita</p>
                  <small class="lh-1 txt-azul fw-bold text-justify">
                    Te permite AHORRAR cada mes, además amortizas el capital y pagas el interés al rebatir mensualmente.
                  </small>
                </li>
                <li class="mt-2 lh-1 texto">
                  <p class="mb-0 fw-bold txt-rojo">Credi Yapa</p>
                  <small class="lh-sm txt-azul fw-bold lh-1">
                    Paga solo interés y en la última cuota devuelve el capital. ¡Aumenta tu crédito con nosotros! Si el
                    CREDI CHANCHITA no cubre tus necesidades,
                  </small>
                </li>
                <li class="mt-2 texto lh-1">
                  <p class="mb-0 txt-rojo fw-bold">Credi Ahorro</p>
                  <small class="lh-sm txt-azul fw-bold lh-1">
                    Hace crecer tus ahorros y pagas solo interés antes de cancelar el capital. Cuidamos que
                    el total prestado no supere el Credi Chanchita.
                  </small>
                </li>
                <li class="mt-2 texto fw-bold lh-1">
                  <p class="mb-0 txt-rojo">Credi Confianza</p>
                  <small class="lh-sm txt-azul fw-bold">Solo necesitas un título de propiedad y un garante, que
                    puede ser del banco comunal o no, con los mismos requisitos de evaluación.</small>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-5 mb-3 mb-sm-0 px-1 mb-2">
          <div class="card lista">
            <div class="card-body">
              <h5 class="card-title">PROMOCIÓN DEL AHORRO</h5>
              <ul>
                <li class="lh-1 texto">
                  <p class="mb-0 txt-rojo">Ahorro Programado</p>
                  <small class="lh-sm txt-azul fw-bold lh-sm">Durante el pago de las cuotas mensuales, se acumula
                    un 5%
                    mensual del monto del crédito de Credi Chanchita como parte de esta iniciativa.</small>
                </li>
                <li class="lh-1 mt-2 texto">
                  <p class="mb-0 txt-rojo fw-bold">Ahorro Voluntario</p>
                  <small class="lh-sm txt-azul fw-bold lh-sm">
                    Son depósitos de dinero que las socias realizan voluntariamente para incrementar sus ahorros son
                    definidos por la asamblea de socias.
                  </small>
                </li>
                <li class="lh-1 mt-2 texto">
                  <p class="mb-0 txt-rojo fw-bold">Capitalización</p>
                  <small class="lh-sm txt-azul fw-bold lh-sm">
                    Es la que el Banco Comunal obtiene por la movilización de la cuenta interna estos ingresos pueden
                    venir los intereses generados por los prestamos a socios, etc.
                  </small>
                </li>
                <li class="lh-1 mt-2 texto">
                  <p class="mb-0 txt-rojo fw-bold">Actividades y Otros</p>
                  <small class="lh-sm txt-azul fw-bold lh-sm text-justify">Cada banco comunal debe realizar
                    actividades que les genere ingresos (venta de comida, rifas, etc.).
                    Todos estos fondos se acumulan y hacen la linea de crédito Credi Ahorro. Estos ahorros no se quedan
                    congelados, GENERAN GANANCIAS para cada uno de nuestros socios mediante la movilización de los
                    mismos ahorros.
                  </small>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-12 col-xxl-10 offset-xxl-1 mt-3">
          <div class="row d-flex align-items-center mx-0">
            <div class="col-sm-4 mb-3 mt-3 mb-sm-0 px-1 mb-2">
              <h5 class="text-center titulo txt-rojo">CAPACITACIÓN</h5>
              <div class="container texto text-justify lh-1 fw-bold">
                <p class="mb-0 txt-rojo">Gestión empresarial</p>
                <small class="text-justify txt-azul">Constituirse en fuente de financiamiento y
                  capitalización para sus asociados, para mejorar sus capacidades de gestión empresarial.
                </small>
              </div>
              <div class="container texto text-justify lh-1 fw-bold mt-2">
                <p class="mb-0 txt-rojo">Bienestar Familiar</p>
                <small class="text-justify txt-azul">
                  Los bancos comunales pueden lograr un impacto significativo y
                  positivo en la vida de las personas y en el desarrollo de la comunidad en su conjunto.
                </small>
              </div>
              <div class="container texto text-justify lh-1 fw-bold mt-2">
                <p class="mb-0 txt-rojo">Educación Financiera</p>
                <small class="text-justify txt-azul">Constituirse en fuente de financiamiento y
                  capitalización para sus asociados, para mejorar sus capacidades de gestión empresarial.
                </small>
              </div>
              <div class="container texto text-justify lh-1 fw-bold mt-2">
                <p class="mb-0 txt-rojo">Salud</p>
                <small class="text-justify txt-azul">Constituirse en fuente de financiamiento y
                  capitalización para sus asociados, para mejorar sus capacidades de gestión empresarial.
                </small>
              </div>
            </div>
            <div class="col-sm-4 mb-3 mt-3 mb-sm-0 px-1 mb-2">
              <h5 class="text-center titulo txt-rojo">ASESORÍA ORGANIZACIONAL</h5>
              <div class="container texto text-justify lh-1 fw-bold">
                <p class="mb-0 txt-rojo">Gestión de Bancos Comunales</p>
                <small class="text-justify txt-azul">
                  La gestión de los bancos comunales en ARARIWA involucra una serie de procesos y acciones para
                  garantizar el buen funcionamiento y la eficiencia de estas instituciones financieras
                  comunitarias.
                </small>
              </div>
              <div class="container texto text-justify lh-1 fw-bold mt-2">
                <p class="mb-0 txt-rojo">Capacitación a Directivos</p>
                <small class="text-justify txt-azul">
                  la capacitación de los directivos de los bancos comunales es un proceso continuo que busca
                  fortalecer sus habilidades técnicas y de liderazgo. Una formación sólida y continua es esencial
                  para que los directivos puedan desempeñar su rol de manera efectiva y contribuir al éxito y
                  sostenibilidad del banco comunal.
                </small>
              </div>
            </div>
            <div class="col-sm-4 mb-3 mt-3 mb-sm-0 px-1 mb-2">
              <h5 class="text-center titulo txt-rojo">MICROSEGUROS</h5>
              <div class="container texto text-justify lh-1 fw-bold">
                <p class="mb-0 txt-rojo">Seguro de vida</p>
                <small class="text-justify txt-azul">
                  En los momentos más desafiantes y solitarios, nos presentamos como un refugio dispuesto a sostener y
                  aliviar tu carga. Estamos aquí para respaldarte incondicionalmente. Nuestra meta es otorgarte
                  serenidad en medio de la tormenta, fomentando la fortaleza de tu fe y la solidez de tu confianza.
                  <strong class="titulo">(En Proceso de Implementación)</strong>
                </small>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-2 d-none d-md-block bg-azul py-5">
        <div class="row d-flex justify-content-center">
          <div class="col-12 text-center">
            <img src="../assets/images/recursos/ver-01.png" class="img-fluid" alt="">
          </div>
          <div class="col-12 text-center">
            <img src="../assets/images/recursos/ver-02.png" class="img-fluid mt-4" alt="">
          </div>
          <div class="col-12 text-center">
            <img src="../assets/images/recursos/ver-03.png" class="img-fluid mt-4" alt="">
          </div>
          <div class="col-12 text-center">
            <img src="../assets/images/recursos/ver-04.png" class="img-fluid mt-4" alt="">
          </div>
          <div class="col-12 text-center">
            <img src="../assets/images/recursos/ver-05.png" class="img-fluid mt-4" alt="">
          </div>
        </div>
      </div>
    </article>
    <div class="col-12 mt-2 mt-xxl-5">
      <div class="container text-center">
        <h4 class="titulo txt-rojo">VALORES DE LAS SOCIAS</h4>
        <div class="d-flex justify-content-evenly listas row">
          <div class="py-lg-1 py-0 col-md-4 col-12">
            <ul class="text-start">
              <li><span>Solidaridad</span></li>
              <li><span>Responsabilidad y Puntualidad</span></li>
            </ul>
          </div>
          <div class="py-lg-1 py-0 col-md-4 col-12">
            <ul class="text-start">
              <li><span>Confianza Mutua</span></li>
              <li><span>Respeto Mutuo</span></li>
            </ul>
          </div>
          <div class="py-lg-1 py-0 col-md-4 col-12">
            <ul class="text-start">
              <li><span>Participaciones en su comunidad</span></li>
              <li><span>Solvencia Moral</span></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="container mt-4">
        <h2 class="text-start txt-azul titulo">
          <p class="flecha"></p><strong class="ms-5 d-none d-md-block">IMPACTOS QUE BUSCAMOS</strong><small
            class="ms-5 d-md-none d-block" style="font-size: 16px;">IMPACTOS QUE BUSCAMOS</small>
        </h2>
        <div class="ms-lg-5 ms-1">
          <h5 class="text-start txt-rojo fw-bold texto">Cambios favorables en cada nivel social de nuestros clientes:
          </h5>
        </div>
        <div class="dl-blurbs mt-4">
          <dl>
            <dt>En la Persona</dt>
            <dd>Entendemos que el acceso a servicios financieros no solo es necesario para el crecimiento económico,
              sino también para mejorar la calidad de vida de las personas. Al ofrecer financiamiento para necesidades
              básicas, como vivienda, educación y salud, contribuimos a la construcción de comunidades más fuertes y
              saludables.</dd>
            <dt>Unidad Familiar</dt>
            <dd>Buscamos romper las barreras tradicionales que impiden el acceso a servicios financieros por parte de
              familias de bajos ingresos. Al proporcionar financiamiento asequible y adaptado a sus necesidades, les
              brindamos la oportunidad de ahorrar, invertir y proteger sus activos, fortaleciendo así su seguridad
              financiera y empoderándolos para tomar decisiones informadas sobre su futuro.</dd>
          </dl>
          <dl>
            <dt>En su Negocio</dt>
            <dd>Nuestros servicios financieros no solo brindan capital para iniciar o expandir pequeños negocios, sino
              que también ofrecemos asesoramiento empresarial y capacitación financiera para aumentar las habilidades y
              conocimientos de nuestros clientes. Esto ayuda a generar empleo, impulsar la actividad económica y reducir
              la dependencia de fuentes de ingresos limitadas.</dd>
            <dt>Para su comunidad</dt>
            <dd>Nuestro compromiso va más allá del aspecto financiero. Trabajamos en estrecha colaboración con las
              comunidades locales, promoviendo la participación activa y la toma de decisiones colectivas. A través de
              programas de educación financiera, capacitación y desarrollo de habilidades, fortalecemos las capacidades
              de los individuos y las organizaciones comunitarias. </dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
</section>
