<app-header [AgenciaPage]='true'></app-header>
<section class="container-fluid py-4">
  <div class="row">
    <div class="col-xl-12 col-xxl-8 offset-xxl-2">
      <div class="container-fluid text-center">
        <div class="row d-flex align-items-center">
          <div class="col-12">
            <h1 class="txt-rojo titulo fw-bold mb-0 lh-1">ESTAMOS EN TODA LA REGION</h1>
          </div>
          <div class="col-md-4 offset-md-4 col-lg-2 offset-lg-5 col-12 text-center mt-1 mt-lg-3">
            <img src="/assets/images/general/ico.png" class="img-fluid mt-md-0 mt-2" alt="">
          </div>
          <!-- <div class="col-12">
            <div class="caja-1 mt-2">
              <p>Valoramos la cercanía con nuestras comunidades. Nuestras oficinas están estratégicamente ubicadas en
                diferentes localidades del Cusco, lo que nos permite estar presentes y atender las necesidades
                financieras de nuestros clientes en sus propias comunidades.</p>
            </div>
          </div> -->
          <div class="col-md-8 col-12 offset-md-2 mt-3">
            <div class="row mx-0 d-flex align-items-center">
              <div class="col-md-7 col-12">
                <p class="text-start texto txt-azul fw-bold lh-1 text-justify">Valoramos la cercanía con nuestras comunidades. Nuestras oficinas están estratégicamente ubicadas en diferentes localidades del Cusco, lo que nos permite estar presentes y atender las necesidades financieras de nuestros clientes en sus propias comunidades.</p>
              </div>
              <div class="col-md-5 col-12 text-center">
                <img src="../../../assets/images/recursos/mapa.png" style="width: 50%;" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <article class="container-fluid fondo-1 p-md-5 p-0 mt-3 fondo-general cusco">
      <div class="row d-flex justify-content-evenly align-items-center mx-0">
        <div class="col-12 col-md-6 col-xl-7 col-xxl-8 text-center">
          <div class="container-fluid">
            <iframe class="mapa-1"
              src="https://www.google.com/maps/embed?pb=!4v1685055761114!6m8!1m7!1sD_uurNw3FNy6copenLnRPw!2m2!1d-13.52292314457521!2d-71.96897594990689!3f159.89197155825977!4f4.0224632494030885!5f1.6114136947136708"
              loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-12">
          <div class="container-fluid text-center">
            <div class="panel-1 py-1">
              <h2 class="mb-0 mt-2 box-1 pt-0 pb-1">CUSCO</h2>
              <p class="mt-3 lh-sm">
                <small class="d-md-block d-none"><span class="txt-rojo me-1">Dirección:</span>Av. Garcilaso N° 516
                  distrito de Wanchaq, provincia de Cusco.</small>
                <small class="d-md-block d-none mt-2"><span class="txt-rojo me-1">Teléfono:</span>84-225333,
                  984-117876</small>
                <small class="d-md-block d-none mt-2"><span class="txt-rojo me-1">Horarios:</span>De lunes a viernes
                  mañanas 8:30 a.m. a 1:00p.m y tardes 3:30 p.m. a 7:00 p.m.</small>
              </p>
            </div>
            <!-- <img src="../../assets/galery/galeria-3.jpg" class="img-fluid mt-2" alt=""> -->
          </div>
        </div>
      </div>
    </article>
    <div class="col-4 offset-4 py-3 text-center">
      <!-- <p class="txt-azul mb-0 texto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, nostrum?</p> -->
      <img src="/assets/images/general/icon.png" class="img-fluid" alt="">
    </div>
    <article class="container-fluid fondo-1 py-5 px-2 fondo-general urcos">
      <div class="row d-flex justify-content-center align-items-center mx-0">
        <div class="col-lg-3 col-md-6 col-12 px-0">
          <div class="container-fluid">
            <div class="panel-1 py-1">
              <h2 class="mb-0 mt-2 box-1 pt-0 pb-1">URCOS</h2>
              <p class="mt-3 lh-sm">
                <small class="d-md-block d-none"><span class="txt-rojo me-1">Dirección:</span>Jirón Belaunde Terry N°
                  337, distrito de Urcos, provincia de Quispicanchi</small>
                <small class="d-md-block d-none mt-2"><span class="txt-rojo me-1">Teléfono:</span>984-959539</small>
                <small class="d-md-block d-none mt-2"><span class="txt-rojo me-1">Horarios:</span> De lunes a viernes
                  mañanas 8:30 a.m. a 1:00p.m y tardes 3:30 p.m. a 7:00 p.m.</small>
              </p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-xl-7 col-xxl-8 text-center">
          <div class="container">
            <iframe class="mapa-1"
              src="https://www.google.com/maps/embed?pb=!4v1685635657021!6m8!1m7!1sNYJfl4i4SROhG4ioaWg8Pg!2m2!1d-13.68806338444463!2d-71.6260220925118!3f199.78653408765993!4f11.732921102027305!5f1.8754801138715558"
              loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        </div>
      </div>
    </article>
    <div class="col-4 offset-4 py-3 text-center">
      <!-- <p class="txt-azul mb-0 texto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, nostrum?</p> -->
      <img src="/assets/images/general/icon.png" class="img-fluid" alt="">
    </div>
    <article class="container-fluid fondo-1 p-5 fondo-general urubamba">
      <div class="row d-flex justify-content-evenly align-items-center mx-0">
        <div class="col-12 col-md-6 col-xl-7 col-xxl-8 text-center">
          <div class="container-fluid">
            <iframe class="mapa-1"
              src="https://www.google.com/maps/embed?pb=!4v1685118683179!6m8!1m7!1sNDqTfJEPg3IoZz91buuU0A!2m2!1d-13.30565173207452!2d-72.11573029311614!3f285.4067323853453!4f5.715779963054203!5f0.7820865974627469"
              loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-12 px-0">
          <div class="container-fluid">
            <div class="panel-1 py-1">
              <h2 class="mb-0 mt-2 box-1 pt-0 pb-1">URUBAMBA</h2>
              <p class="mt-3 lh-sm">
                <small class="d-md-block d-none"><span class="txt-rojo me-1">Dirección:</span>Jirón Palacio N° 165
                  distrito de Urubamba, provincia de Urubamba.</small>
                <small class="d-md-block d-none mt-2"><span class="txt-rojo me-1">Teléfono:</span>984-959537</small>
                <small class="d-md-block d-none mt-2"><span class="txt-rojo me-1">Horarios:</span> De lunes a viernes
                  mañanas 8:30 a.m. a 1:00p.m y tardes 3:30 p.m. a 7:00 p.m.</small>
              </p>
            </div>
          </div>
        </div>
      </div>
    </article>
    <div class="col-4 offset-4 py-3 text-center">
      <!-- <p class="txt-azul mb-0 texto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, nostrum?</p> -->
      <img src="/assets/images/general/icon.png" class="img-fluid" alt="">
    </div>
    <article class="container-fluid fondo-1 py-5 px-2 fondo-general paucartambo">
      <div class="row d-flex justify-content-center align-items-center mx-0">
        <div class="col-lg-3 col-md-6 col-12 px-0">
          <div class="container-fluid">
            <div class="panel-1 py-1">
              <h2 class="mb-0 mt-2 box-1 pt-0 pb-1">PAUCARTAMBO</h2>
              <p class="mt-3 lh-sm">
                <small class="d-md-block d-none"><span class="txt-rojo me-1">Dirección:</span>Plaza de Armas N° 146
                  Mz-j-3 lote 5, distrito de Paucartambo, provincia de
                  Paucartambo.</small>
                <small class="d-md-block d-none mt-2"><span class="txt-rojo me-1">Teléfono:</span>984-062805</small>
                <small class="d-md-block d-none mt-2"><span class="txt-rojo me-1">Horarios:</span> De lunes a viernes
                  mañanas 8:30 a.m. a 1:00p.m y tardes 3:30 p.m. a 7:00 p.m.</small>
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-xl-7 col-xxl-8 text-center">
          <div class="container">
            <iframe class="mapa-1"
              src="https://www.google.com/maps/embed?pb=!4v1685057174817!6m8!1m7!1sCAoSLEFGMVFpcE1KTlRESW5QeTVreFo4dldrNzZtX2JqcVNORnVWZUd1aU5va19w!2m2!1d-13.3179213!2d-71.59680569999999!3f21.260863994443877!4f4.800050172505934!5f0.7820865974627469"
              loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        </div>
      </div>
    </article>
    <div class="col-4 offset-4 py-3 text-center">
      <!-- <p class="txt-azul mb-0 texto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, nostrum?</p> -->
      <img src="/assets/images/general/icon.png" class="img-fluid" alt="">
    </div>
    <article class="container-fluid fondo-1 py-5 px-2 fondo-general sicuani">
      <div class="row d-flex justify-content-center align-items-center mx-0">
        <div class="col-md-6 col-xl-7 col-xxl-8 text-center">
          <div class="container">
            <iframe class="mapa-1"
              src="https://www.google.com/maps/embed?pb=!4v1685137459634!6m8!1m7!1su6cdezzqDNXyPJXkWYn1uQ!2m2!1d-14.26749394788322!2d-71.22806462702667!3f289.4893266435166!4f-1.595848849376864!5f0.7820865974627469"
              loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        </div>
        <div class="col-3 px-0">
          <div class="container-fluid">
            <div class="panel-1 py-1">
              <h2 class="mb-0 mt-2 box-1 pt-0 pb-1">SICUANI</h2>
              <p class="mt-3 lh-sm">
                <small class="d-md-block d-none"><span class="txt-rojo me-1">Dirección:</span>Alfonso Ugarte N° 203,
                  distrito de Sicuani, provincia de Canchis.</small>
                <small class="d-md-block d-none mt-2"><span class="txt-rojo me-1">Teléfono:</span>984-062805</small>
                <small class="d-md-block d-none mt-2"><span class="txt-rojo me-1">Horarios:</span> De lunes a viernes
                  mañanas 8:30 a.m. a 1:00p.m y tardes 3:30 p.m. a 7:00 p.m.</small>
              </p>
            </div>
          </div>
        </div>
      </div>
    </article>
    <div class="col-4 offset-4 py-3 text-center">
      <!-- <p class="txt-azul mb-0 texto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, nostrum?</p> -->
      <img src="/assets/images/general/icon.png" class="img-fluid" alt="">
    </div>
    <article class="container-fluid fondo-1 py-5 px-2 fondo-general quilla">
      <div class="row d-flex justify-content-center align-items-center mx-0">
        <div class="col-3 px-0">
          <div class="container-fluid">
            <div class="panel-1 py-1">
              <h2 class="mb-0 mt-2 box-1 pt-0 pb-1">QUILLABAMBA</h2>
              <p class="mt-3 lh-sm">
                <small class="d-md-block d-none"><span class="txt-rojo me-1">Dirección:</span>Av. San Martin N° 663,
                  distrito de Santa Ana, provincia de La Convención.</small>
                <small class="d-md-block d-none mt-2"><span class="txt-rojo me-1">Teléfono:</span>966-669917</small>
                <small class="d-md-block d-none mt-2"><span class="txt-rojo me-1">Horarios:</span> De lunes a viernes
                  mañanas 8:30 a.m. a 1:00p.m y tardes 3:30 p.m. a 7:00 p.m.</small>
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-xl-7 col-xxl-8 text-center">
          <div class="container">
            <iframe class="mapa-1"
              src="https://www.google.com/maps/embed?pb=!4v1685120882602!6m8!1m7!1sCAoSLEFGMVFpcE9iazBXYlFJZWVZYlU5Mjk5U0R3aVhJS2JtNzR4Y0FPbmJrd0Y2!2m2!1d-12.8633923!2d-72.69290509999999!3f119.21394628130649!4f1.55109182038656!5f0.7820865974627469"
              loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        </div>
      </div>
    </article>
  </div>
</section>
<app-footer></app-footer>
