<app-header [EdcuacionPage]='true'></app-header>
<section class="container-fluid text-center pt-4 pb-0 marca-de-agua">
  <div class="row">
    <div class="col-md-8 offset-md-2 col-xxl-6 offset-xxl-3">
      <div class="container-fluid text-center">
        <h2 class="txt-rojo titulo">¿QUE ES LA EDUCACIÓN FINANCIERA?</h2>
        <div class="row mx-0 mt-4 d-flex align-items-center">
          <div class="col-lg-5 col-md-4 col-12 text-center">
            <img src="/assets/images/general/Cerdo-web.png" class="img-fluid" alt="">
          </div>
          <div class="col-lg-7 col-md-8 col-12 mt-4 mt-md-0">
            <div class="container">
              <p class="txt-azul texto fw-bold text-justify lh-sm">
                La educación financiera desempeña un papel fundamental en el desarrollo sostenible del sector rural en
                el Perú. A través del empoderamiento económico, acceso a servicios financieros, gestión de riesgos,
                fomento del emprendimiento y desarrollo de capacidades, las comunidades rurales pueden mejorar su
                calidad de vida, promover la inclusión financiera y fortalecer su resiliencia ante los desafíos
                económicos. Es esencial que se brinde apoyo y se implementen programas de educación financiera adaptados
                a las necesidades y características de las comunidades rurales, para lograr un desarrollo equitativo y
                sostenible en todo el país.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-10 offset-md-1 col-xxl-6 offset-xxl-3 my-1 my-md-4 my-xxl-5">
      <div class="row d-flex justify-content-evenly">
        <div class="col-12 mb-3 mt-2">
          <div class="container">
            <h5 class="titulo txt-rojo fw-bold">Términos de educación financiera que debes dominar</h5>
          </div>
        </div>
        <div class="col-lg-2 col-md-4 col-6 px-lg-1 px-md-3 px-2 text-center w-20">
          <div class="lh-1">
            <img src="/assets/images/general/educa-1.png" class="img-fluid" alt="">
            <h5 class="texto fw-bold txt-rojo my-0">Ingresos</h5>
            <p class="texto txt-azul fw-bold text-justify">Dinero que se gana a través del trabajo, inversiones u otras fuentes.</p>
          </div>
        </div>
        <div class="col-lg-2 col-md-4 col-6 px-lg-1 px-md-3 px-2 text-center w-20">
          <div class="lh-1">
            <img src="/assets/images/general/educa-2.png" class="img-fluid" alt="">
            <h5 class="texto fw-bold txt-rojo my-0">Ahorro</h5>
            <p class="texto txt-azul fw-bold text-justify">Prepárate para el futuro, para ello puedes crear un fondo de ahorros para tu jubilación.</p>
          </div>
        </div>
        <div class="col-lg-2 col-md-4 col-6 px-lg-1 px-md-3 px-2 text-center w-20">
          <div class="lh-1">
            <img src="/assets/images/general/educa-3.png" class="img-fluid" alt="">
            <h5 class="texto fw-bold txt-rojo my-0">Gastos</h5>
            <p class="texto txt-azul fw-bold text-justify">Debes ser consciente de lo que ganas y vivir de acuerdo con ello.</p>
          </div>
        </div>
        <div class="col-lg-2 col-md-4 col-6 px-lg-1 px-md-3 px-2 text-center w-20">
          <div class="lh-1">
            <img src="/assets/images/general/educa-4.png" class="img-fluid" alt="">
            <h5 class="texto fw-bold txt-rojo my-0">Inversión</h5>
            <p class="texto txt-azul fw-bold text-justify">Toda inversión que realices debe ser informada, Evalúa los pro y contra de una inversión.</p>
          </div>
        </div>
        <div class="col-lg-2 col-md-4 col-6 px-lg-1 px-md-3 px-2 text-center w-20">
          <div class="lh-1">
            <img src="/assets/images/general/educa-5.png" class="img-fluid" alt="">
            <h5 class="texto fw-bold txt-rojo my-0">Endeudamiento</h5>
            <p class="texto txt-azul fw-bold text-justify">Nunca te retrases en el pago de tus deudas, ya sean servicios básicos o tarjetas de crédito o prestamos.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 mt-4">
      <div class="container text-center">
        <h2 class="text-start txt-azul titulo">
          <p class="flecha"></p><strong class="ms-5">Beneficios</strong>
        </h2>
        <div class="dl-blurbs mt-4">
          <dl>
            <dt>Decisiones informadas:</dt>
            <dd>La educación financiera te proporciona los conocimientos y habilidades necesarios para tomar decisiones
              financieras informadas y racionales. Comprenderás mejor las opciones financieras disponibles y podrás
              evaluar las ventajas y desventajas de cada una. Esto te permite tomar decisiones más acertadas en términos
              de ahorro, inversión, endeudamiento y gastos.</dd>
            <dt>Manejo eficaz del dinero:</dt>
            <dd>La educación financiera te ayuda a desarrollar habilidades prácticas para administrar tu dinero de
              manera eficiente. Aprenderás a elaborar presupuestos, a llevar un seguimiento de tus ingresos y gastos, y
              a establecer metas financieras realistas. Esto te permite tomar el control de tus finanzas personales y
              evitar caer en deudas o gastos innecesarios.</dd>
            <dt>Ahorro y planificación:</dt>
            <dd>La educación financiera te enseña la importancia del ahorro y la planificación a largo plazo.
              Aprenderás a establecer metas financieras y a crear un plan para alcanzarlas. Entenderás cómo crear un
              fondo de emergencia, cómo ahorrar para metas específicas, como la educación superior o la jubilación, y
              cómo utilizar estrategias de inversión para hacer crecer tu patrimonio con el tiempo.</dd>
          </dl>
          <dl>
            <dt>Deudas y responsabilidad</dt>
            <dd>La educación financiera te ayuda a comprender los conceptos clave relacionados con el endeudamiento,
              como los tipos de préstamos, los intereses, los plazos y los riesgos asociados. Aprenderás a utilizar el
              crédito de manera responsable y a evitar el sobre endeudamiento. Esto te permite tomar decisiones
              informadas sobre cuándo y cómo pedir prestado, y cómo manejar tus deudas de manera efectiva.</dd>
            <dt>Protección financiera:</dt>
            <dd>La educación financiera también abarca aspectos relacionados con la protección y seguridad financiera.
              Aprenderás sobre la importancia de los seguros, como los seguros de vida, salud y propiedad, y cómo
              proteger tus activos y tu bienestar financiero en caso de emergencias o situaciones imprevistas.</dd>
            <dt>Reducir estrés financiero:</dt>
            <dd>Al adquirir conocimientos y habilidades financieras sólidas, podrás tomar decisiones con confianza y
              tener un mayor control sobre tus finanzas. Esto reduce el estrés financiero y te brinda tranquilidad, ya
              que estarás preparado para enfrentar desafíos financieros y tomar medidas adecuadas para resolverlos.</dd>
          </dl>
        </div>
      </div>
    </div>
    <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2 mt-5 mb-2">
      <div class="container-fluid">
        <h3 class="text-center titulo txt-rojo">Mas sobre Educación Financiera</h3>
        <div class="container mt-3">
          <iframe width="100%" height="500px" src="https://www.youtube.com/embed/XAj7ke-PiFc"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- seccion de pruebas para la vista de agencias -->
<!-- <article class="container-fluid text-center">
  <div class="container-fluid px-0 testimonio">
    <h1 class="title" style="display:none;">
      {{title}}
    </h1>
    <button class="btn btn-secondary rounded-0" (click)="mostrarTitulo()">Mostrar titulo</button>
    <p class="mt-2">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente voluptatibus itaque sequi saepe ut possimus?</p>
  </div>
</article> -->
<app-footer></app-footer>
