<section class="container-fluid my-5">
  <div class="row">
    <div class="col-2 bg-success">
      <div class="card rounded-0">
        <div class="row py-2 mx-0 d-flex align-items-center bg-azul">
          <div class="col-5 text-center border-end border-white">
            <img src="/assets/images/general/icon.png" class="img-fluid" alt="">
          </div>
          <div class="col-7 text-start text-white">
            <p class="fw-bold titulo my-0 lh-sm">Leonel </p>
          </div>
          <div class="col-12 mt-2 text-center">
            <p class="texto text-white lh-1 mb-0">Lorem ipsum dolor sit amet.</p>
          </div>
        </div>
        <div class="card">
          <img src="https://images.unsplash.com/photo-1561154464-82e9adf32764?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" class="card-img-top rounded-0" alt="...">
          <div class="card-body rounded-0 px-0">
            <nav class="nav flex-column menu-admin">
              <a class="nav-link" href="#"><i class="bi bi-grid-1x2 me-2"></i> Menu</a>
              <a class="nav-link" href="#"><i class="bi bi-people-fill me-2"></i> Bancos</a>
            </nav>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-5 px-1">
      <div class="container text-center">
        <h5 class="fw-bold titulo mb-0 txt-rojo">NOMBRE DEL BANCO</h5>
        <img src="/assets/images/bancos/Bancos-Jeny.jpg" class="img-fluid" alt="">
        <p class="text-justify lh-sm texto fw-bold txt-azul">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro doloribus beatae aliquam temporibus impedit ducimus unde asperiores, quam necessitatibus adipisci.</p>
      </div>
      <hr class="divisor">
      <div class="container text-center">
        <h5 class="fw-bold titulo mb-0 txt-rojo">NOMBRE DEL BANCO</h5>
        <img src="/assets/images/bancos/Bancos-Jeny.jpg" class="img-fluid" alt="">
        <p class="text-justify lh-sm texto fw-bold txt-azul">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro doloribus beatae aliquam temporibus impedit ducimus unde asperiores, quam necessitatibus adipisci.</p>
      </div>
    </div>
    <div class="col-2 bg-success">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, voluptas.</p>
    </div>
    <div class="col-3 px-1">
      <div class="container">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, voluptas.</p>
      </div>
    </div>
  </div>
</section>
