<app-header [TestimoniosPage]='true'></app-header>
<section class="container-fluid py-4">
  <div class="row mx-0">
    <div class="col-12 col-xxl-10 offset-xxl-1">
      <div class="container text-center">
        <h1 class="txt-rojo titulo fw-bold">AYUDAMOS CON PROPÓSITO</h1>
      </div>
      <div class="row d-flex align-items-center mt-5">
        <div class="col-md-5 col-12">
          <h2 class="text-start txt-azul titulo">
            <p class="flecha"></p><strong class="ms-lg-5 ms-5">EXPERIENCIAS</strong>
          </h2>
          <div class="container ms-lg-5 ms-0 pe-lg-5 pe-0 border-ci">
            <p class="txt-azul texto lh-sm text-justify fw-bold">El otorgamiento de credito a la micro y pequeña
              empresa, como mecanismo de financiamiento de actividades comerciales, productivas y de servicios debe
              servir como
              instrumento de coadyuve al desarrollo economico y considere procedimientos que tengan en cuenta al
              contexto economico social a nivel regional y macroeconomico como son los objetivos institucionales.</p>
            <p class="txt-azul texto lh-sm text-justify fw-bold d-none d">El proceso de otorgamiento considera la
              evaluacion a la
              unidad familiar y/o empresarial, considerando la capacidad y voluntad de pago como un proceso unico, que
              permita un tratamiento adecuado, tanto en los procedimientos de colocacion , seguimiento y recuperacion de
              creditos</p>
            <p class="txt-azul texto lh-sm text-justify fw-bold">El credito individual es aplicable a personas naturales
              y juridicas que realizan actividades calificadas de pequeña y microempresa en los sectores productivo,
              comercio y servicios.</p>
          </div>
        </div>
        <div class="col-md-7 col-12">
          <div class="container-fluid text-center">
            <iframe width="100%" height="450" src="https://www.youtube.com/embed/LRQ-0Ru465g?si=_Ovyvi4EtnOBvba6"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
            <!-- <video id="video-1" class="testimonio-video" muted autoplay controls>
              <source src="/assets/videos/arariwa.mp4" type="video/mp4">
              Tu navegador no admite este video.
            </video> -->
          </div>
        </div>
      </div>
    </div>
    <div class="col-12  my-5 row d-flex justify-content-evenly mx-0">
      <h2 class="text-start txt-azul titulo col-12">
        <p class="flecha"></p><strong class="ms-5">TESTIMONIOS</strong>
      </h2>
      <div class="container-fluid panel text-center col-xxl-10 col-xl-12 col-12">
        <figure class="snip1139">
          <blockquote>Me agrupe el año pasado con otros 6 amigos productores lecheros de la misma comunidad para formar
            parte de un banco comunal.<div class="arrow1"></div>
          </blockquote>
          <p class="mb-0 mnt-2 text-center txt-azul texto fw-bold comillas"
            style="z-index: 2 !important; position: relative;"><small>El gobierno no nos ha apoyado mucho, pero Arariwa
              lo ha hecho.</small></p>
          <img src="/assets/images/galery/testimonio-1.jpg" class="img-fluid" alt="sample17" />
          <div class="author">
            <h5 class="lh-1">Señor Balvino <br><span>Productor de Leche</span></h5>
          </div>
        </figure>
        <figure class="snip1139">
          <blockquote>Elegí Arariwa por su accesibilidad y la facilidad con la cual puedo encontrar a sus Asesores
            en nuestra comunidad.<div class="arrow1"></div>
          </blockquote>
          <p class="mb-0 mnt-2 text-center txt-azul texto fw-bold comillas"
            style="z-index: 2 !important; position: relative;"><small>Arariwa es la única institución que se desplaza
              hasta aquí.</small></p>
          <img src="/assets/images/galery/testimonio-2.jpg" class="img-fluid" alt="sample3" />
          <div class="author">
            <h5 class="lh-1">Señora Mery <br><span>Cuyicultor</span></h5>
          </div>
        </figure>
        <figure class="snip1139">
          <blockquote>Los asesores vienen al lugar donde estamos a veces no tengo tiempo
            para ir hasta Cusco pero ellos vienen hasta aqui.<div class="arrow1"></div>
          </blockquote>
          <p class="mb-0 mnt-2 text-center txt-azul texto fw-bold comillas"
            style="z-index: 2 !important; position: relative;"><small>Trabajar con Arariwa es muy fácil y
              cómodo.</small>
          </p>
          <img src="/assets/images/galery/testimonio-3.jpg" class="img-fluid" alt="sample3" />
          <div class="author">
            <h5 class="lh-1">Señora Marcelina <br><span>Emprendedora</span></h5>
          </div>
        </figure>
        <figure class="snip1139">
          <blockquote>Al principio, con su grupo comunal, podía sacar 500 soles. Hoy, el último crédito que ha sacado es
            5,000 soles.<div class="arrow1"></div>
          </blockquote>
          <p class="mb-0 mnt-2 text-center txt-azul texto fw-bold comillas lh-1"
            style="z-index: 2 !important; position: relative;"><small>Me gusta participar en las reuniones de mi grupo,
              lo he hecho desde hace 9 años</small></p>
          <img src="/assets/images/galery/testimonio-4.jpg" class="img-fluid" alt="sample47" />
          <div class="author">
            <h5 class="lh-1">Señora Asunta <br><span>Agricultora</span></h5>
          </div>
        </figure>
        <figure class="snip1139">
          <blockquote>Saco 1000 soles de su banco comunal Mama Piuray para poder comprar animales menores para su granja
            de crianza.<div class="arrow1"></div>
          </blockquote>
          <p class="mb-0 mnt-2 text-center txt-azul texto fw-bold comillas lh-1"
            style="z-index: 2 !important; position: relative;"><small>La pandemia nos golpeo fuerte, no sabíamos que
              hacer o como tener dinero pero Arariwa nos ayudo a levantarnos</small></p>
          <img src="/assets/images/galery/testimonio-5.jpg" class="img-fluid" alt="sample47" />
          <div class="author">
            <h5 class="lh-1">Señora Nicolasa <br><span>Granjera</span></h5>
          </div>
        </figure>
        <figure class="snip1139">
          <blockquote>Yo no sabia ahorrar nunca, aprendí en Arariwa lo importante que es ahorrar ellos me enseñaron y el
            asesor a juntar mas dinero.<div class="arrow1"></div>
          </blockquote>
          <p class="mb-0 mnt-2 text-center txt-azul texto fw-bold comillas lh-1"
            style="z-index: 2 !important; position: relative;"><small>Agradezco a Arariwa y ojala pueda seguir
              trabajando con ellos, es importante para mi contar con ellos.</small></p>
          <img src="/assets/images/galery/testimonio-6.jpg" class="img-fluid" alt="sample47" />
          <div class="author">
            <h5 class="lh-1">Señora Helena <br><span>Granjera</span></h5>
          </div>
        </figure>
      </div>
    </div>
    <div class="col-12  my-5 row d-flex justify-content-evenly mx-0 marca-de-agua">
      <h2 class="text-start txt-azul titulo col-12">
        <p class="flecha"></p><strong class="ms-5">COMENTARIOS</strong>
      </h2>
      <div class="ms-5">
        <h4 class="txt-azul texto fw-bold ms-3">Comentarios relevantes de algunos socios entrevistados</h4>
      </div>
      <div id="carouselExample" class="carousel carousel-dark slide">
        <div class="carousel-inner">
          <div class="carousel-item active test-box">
            <div class="row mx-0">
              <div class="col-lg-4 col-md-6 col-12 mt-lg-0 mt-md-2 mt-3">
                <div class="card tarjeta" style="width: 100%;">
                  <div class="card-body">
                    <p class="card-text">"Veo a ARARIWA como un padre porque nos provee capital para poder seguir
                      trabajando... con los primeros ahorros gradué a mis hijos"</p>
                    <div class="row mx-0 nombres">
                      <div class="col-6 px-1 text-center lh-sm border-end">
                        <p class="mb-0">Aquilina Ttio</p>
                        <h4 class="names">Nombre</h4>
                      </div>
                      <div class="col-6 px-1 text-center lh-sm border-start">
                        <p class="mb-0">El éxito</p>
                        <h4 class="names">Banco Comunal</h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-12 mt-lg-0 mt-md-2 mt-3">
                <div class="card tarjeta" style="width: 100%;">
                  <div class="card-body">
                    <p class="card-text">"La principal razón es el grupo, porque hay otras instituciones incluso con
                      menor interés pero la amistad y el compartir con el grupo es bueno"</p>
                    <div class="row mx-0 nombres">
                      <div class="col-6 px-1 text-center lh-sm border-end">
                        <p class="mb-0">Maribel Zanabria</p>
                        <h4 class="names">Nombre</h4>
                      </div>
                      <div class="col-6 px-1 text-center lh-sm border-start">
                        <p class="mb-0">Qorimankacha</p>
                        <h4 class="names">Banco Comunal</h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-12 mt-lg-0 mt-md-2 mt-3 d-block d-sm-none d-xl-block">
                <div class="card tarjeta" style="width: 100%;">
                  <div class="card-body">
                    <p class="card-text">"Feliz con el grupo Arariwa es de confianza y ha sido de mucha ayuda en mi
                      vida... y ahora puedo decir que asi construí mi casa"</p>
                    <div class="row mx-0 nombres">
                      <div class="col-6 px-1 text-center lh-sm border-end">
                        <p class="mb-0">Rebeca S. Vicenta</p>
                        <h4 class="names">Nombre</h4>
                      </div>
                      <div class="col-6 px-1 text-center lh-sm border-start">
                        <p class="mb-0">San Isidro de Yungaqui</p>
                        <h4 class="names">Banco Comunal</h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item test-box">
            <div class="row mx-0">
              <div class="col-lg-4 col-md-6 col-12 mt-lg-0 mt-md-2 mt-3">
                <div class="card tarjeta" style="width: 100%;">
                  <div class="card-body">
                    <p class="card-text">"El ahorro es el mejor servicio, la primera vez que me dieron mis ahorros, mi esposo me felicito"</p>
                    <div class="row mx-0 nombres">
                      <div class="col-6 px-1 text-center lh-sm border-end">
                        <p class="mb-0">Rebeca S. Vicenta</p>
                        <h4 class="names">Nombre</h4>
                      </div>
                      <div class="col-6 px-1 text-center lh-sm border-start">
                        <p class="mb-0">San Isidro de Yungaqui</p>
                        <h4 class="names">Banco Comunal</h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-12 mt-lg-0 mt-md-2 mt-3">
                <div class="card tarjeta" style="width: 100%;">
                  <div class="card-body">
                    <p class="card-text">"Nos permite reunirnos u compartir, hacer mas amistades y unirnos"</p>
                    <div class="row mx-0 nombres">
                      <div class="col-6 px-1 text-center lh-sm border-end">
                        <p class="mb-0">Maria Elena Cuba</p>
                        <h4 class="names">Nombre</h4>
                      </div>
                      <div class="col-6 px-1 text-center lh-sm border-start">
                        <p class="mb-0">Inti</p>
                        <h4 class="names">Banco Comunal</h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-12 mt-lg-0 mt-md-2 mt-3 d-block d-sm-none d-xl-block">
                <div class="card tarjeta" style="width: 100%;">
                  <div class="card-body">
                    <p class="card-text">"Arariwa me enseño a ahorrar dinero y poder ser responsable, los asesores siempre están pendiente de nosotros"</p>
                    <div class="row mx-0 nombres">
                      <div class="col-6 px-1 text-center lh-sm border-end">
                        <p class="mb-0">Roberto Domigues</p>
                        <h4 class="names">Nombre</h4>
                      </div>
                      <div class="col-6 px-1 text-center lh-sm border-start">
                        <p class="mb-0">Qorimankacha</p>
                        <h4 class="names">Banco Comunal</h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item test-box">
            <div class="row mx-0">
              <div class="col-lg-4 col-md-6 col-12 mt-lg-0 mt-md-2 mt-3">
                <div class="card tarjeta" style="width: 100%;">
                  <div class="card-body">
                    <p class="card-text">"Veo a ARARIWA como un padre porque nos provee capital para poder seguir
                      trabajando... con los primeros ahorros gradué a mis hijos"</p>
                    <div class="row mx-0 nombres">
                      <div class="col-6 px-1 text-center lh-sm border-end">
                        <p class="mb-0">Aquilina Ttio</p>
                        <h4 class="names">Nombre</h4>
                      </div>
                      <div class="col-6 px-1 text-center lh-sm border-start">
                        <p class="mb-0">El éxito</p>
                        <h4 class="names">Banco Comunal</h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-12 mt-lg-0 mt-md-2 mt-3">
                <div class="card tarjeta" style="width: 100%;">
                  <div class="card-body">
                    <p class="card-text">"La principal razón es el grupo, porque hay otras instituciones incluso con
                      menor interés pero la amistad y el compartir con el grupo es bueno"</p>
                    <div class="row mx-0 nombres">
                      <div class="col-6 px-1 text-center lh-sm border-end">
                        <p class="mb-0">Maribel Zanabria</p>
                        <h4 class="names">Nombre</h4>
                      </div>
                      <div class="col-6 px-1 text-center lh-sm border-start">
                        <p class="mb-0">Qorimankacha</p>
                        <h4 class="names">Banco Comunal</h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-12 mt-lg-0 mt-md-2 mt-3 d-block d-sm-none d-xl-block">
                <div class="card tarjeta" style="width: 100%;">
                  <div class="card-body">
                    <p class="card-text">"Feliz con el grupo Arariwa es de confianza y ha sido de mucha ayuda en mi
                      vida... y ahora puedo decir que asi construí mi casa"</p>
                    <div class="row mx-0 nombres">
                      <div class="col-6 px-1 text-center lh-sm border-end">
                        <p class="mb-0">Rebeca S. Vicenta</p>
                        <h4 class="names">Nombre</h4>
                      </div>
                      <div class="col-6 px-1 text-center lh-sm border-start">
                        <p class="mb-0">San Isidro de Yungaqui</p>
                        <h4 class="names">Banco Comunal</h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
